#calculator{
border: 1px solid black;
border-radius: 5px;
width: 200px;
}
#display{
    margin: 10px;
    width: 86%;
    font-size: 20px;

}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.button{
    width: 49px;
    height: 49px;
   margin: 5px;
    
    
    
} 